.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
    background-color: #F3F2F0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: #FFFFFF;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 978px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.panel-body {
    background-color: #F3F2F0;
}

.main-title {
    text-align: center;
    font-size: 30px;
    color: #484848;
}

.home-title {
    text-align: center;
    font-size: 70px;
    color: #484848;
}


.city {
    text-align: center;
    font-size: 25px;
    color: #484848;
    padding-top: 10px;
}

.white-text {
    color: transparent;
}

.day-title {
    text-align: left;
    font-size: 20px;
    color: #484848;
}

.cost-title {
    text-align: center;
    font-size: 15px;
    color: #484848;
    padding-top: 10px;
    padding-bottom: 30px;
}

.description-one {
    text-align: left;
    font-size: 14px;
    color: #484848;
}

.description-two {
    text-align: left;
    font-size: 12px;
    color: #484848;
    padding-top: 10px;
}

.activity-time {
    text-align: left;
    font-size: 12px;
    color: #484848;
    padding-top: 3px;
}

.activity-description {
    text-align: left;
    font-size: 16px;
    color: #484848;
}

.activity-observation {
    text-align: left;
    font-size: 12px;
    color: #72B56B;
}

.text-format {
    text-align: justify;
}

.check-in-out-date {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    color: #484848;    
    padding-top: 10px;
}

.check-in-out-time {
    font-weight: bold;
    font-size: 11px;
    color: #767676;
    text-align: left;  
    padding-top: 3px;  
}

.space-between-dates {
    padding-right: 70px;
    display: inline-block    
}

.space-between-times {
    padding-right: 10px;
    display: inline-block    
}

.carousel-wrap {
    padding: 6px;
    
}   

.img-carousel{
    max-height: 400px;
    max-width: 100%; 
    margin: 0 auto;
    padding: 4px;
}

.carousel-indicators .active {
    background-color: red;
}
.carousel-indicators li{
    background-color: blue;    
}

.carousel-caption {
    color: black;
}

.picture-caption{
    background-color: gray;    
}

.activities-title {
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #f5f5f5;
    text-align: left;
}

.customHr {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1px;
    width: 100%;
    font-size: 1px;
    background-color: #777;
}