<div class="container" ng-controller="ActivityCtrl">

    <div class="panel panel-default">
        <div class="panel-heading day-title">
            {{city}}: {{activity}}
        </div>
    </div>  

    <div class="panel panel-default">

        <div class="panel-body">

            <div class="row activity-wrap">
                {{info}}
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-format">
                    <span ng-repeat="line in text track by $index">
                        <span ng-bind-html="line | newlines"></span>
                    </span>
                </div>
            </div>

            <div class="row carousel-wrap">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li ng-repeat="picture in pictures" 
                            data-target="#myCarousel" 
                            data-slide-to="{{$index}}" 
                            ng-class="{active:picture.active}">

                        </li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item" ng-class="{active:picture.active}" 
                             ng-repeat="picture in pictures">
                            <img ng-src="{{ picture.url}}" 
                                 class="img-carousel" alt={{picture.caption}}>
                            <div class="carousel-caption">                                
                                <div class=" col-md-4 col-md-offset-4 picture-caption">
                                    {{picture.caption}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> 
</div>
