<div class="container" ng-controller="DayCtrl">

    <div class="panel panel-default">
        
        <div class="panel-heading day-title">
            {{city}}: {{day}}
        </div>
        
        <div class="form-row cost-title">
            <div class="col-md-8">Costo Total: 
                $ {{getTotalPesos() | number: 2}} - 
                Por persona: $ {{(getTotalPesos() / 3) | number: 2}}</div>
            <div class="col-md-4">Total: {{(getTotalKm())}} km</div>
        </div>
        
    </div>  

    <div ng-repeat="activity in activities">
        
        <div class="panel panel-default">
            
            <div class="panel-body">
                
                <div class="row activity-wrap">

                    <div class="col-md-2 activity-time">
                        {{ getStartTime(activity, activities)}} - {{ getEndTime(activity, activities)}}
                    </div>
                    
                    <div class="col-md-6">
                        <div class="activity-description">
                            <a ng-if="activity.hotelId"  ng-href="#!/hotel/{{activity.hotelId}}">
                                {{activity.description}}
                            </a>
                            <a ng-if="activity.url"  ng-href="#!/activity/{{activity.url}}">
                                {{activity.description}}
                            </a>
                            <a ng-if="activity.food"  ng-href="#!/restaurants/{{activity.food}}">
                                {{activity.description}}
                            </a>
                            <span ng-if="!activity.hotelId && !activity.url && !activity.food" ng-bind="activity.description">
                            </span>
                        </div>

                        <div class="activity-observation">
                            <span  ng-repeat="line in activity.observation track by $index" >
                                {{line}}
                            </span>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="col-md-6 activity-time">
                            {{ activity.km | toKm}}
                        </div>
                        <div class="col-md-6 activity-time">
                            {{ activity | toPesos}}
                        </div>
                    </div>
                </div>

                <div class="row carousel-wrap">
                    <div class="item" 
                         ng-class="{active:picture.active}" 
                         ng-repeat="picture in activity.pictures">
                        <img ng-src="{{ picture.url}}" 
                             class="img-carousel" 
                             alt={{picture.caption}}>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
