<div class="container" ng-controller="HotelCtrl">

    <div class="panel panel-default">
        <div class="panel-heading main-title">
            Hospedaje
        </div>
    </div>  

    <div class="panel panel-default">

        <div class="panel-body">

            <div class="row city">
                <div class="col-md-12">
                    {{hotel.location}}
                </div>
            </div>

            <div class="row description-one">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div>{{hotel.address}} </div>
                    <div>{{hotel.name}}</div>
                    <div><i>{{hotel.description}}</i></div>
                </div>

                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div>
                        <b>{{hotel.contact}}</b> 
                        <i class="text-primary">{{hotel.phone1}}</i>
                    </div>
                    <div>
                        <b class="white-text">{{hotel.contact}}</b> 
                        <i class="text-primary">{{hotel.phone2}}</i>
                    </div>
                </div>                    
            </div>

            <div class="row check-in-out-date">
                <div class="col-md-1"></div>
                <div class="col-md-5 space-between-dates">
                    {{hotel.checkindate}} 
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 space-between-dates">
                    {{hotel.checkoutdate}} 
                </div>
            </div>

            <div class="row check-in-out-time">                    
                <div class="col-md-1"></div>
                <div class="col-md-4 space-between-times">
                    HORA DE LLEGADA: {{hotel.checkintime}} 
                </div>                    
                <div class="col-md-2 space-between-times">
                    &gt;
                </div>                    
                <div class="col-md-5 space-between-times">
                    HORA DE SALIDA: {{hotel.checkouttime}}
                </div>
            </div>

            <div class="row description-two">                  
                <div class="col-md-1"></div>
                <div class="col-md-11">{{hotel.note}}</div>
            </div>

            <div class="row carousel-wrap">
                <div id="myCarousel{{hotel.id}}" 
                     class="carousel slide" 
                     data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li ng-repeat="picture in hotel.pictures" 
                            data-target="#myCarousel{{hotel.id}}" 
                            data-slide-to="{{$index}}" 
                            ng-class="{active:picture.active}">

                        </li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item" 
                             ng-class="{active:picture.active}" 
                             ng-repeat="picture in hotel.pictures">
                            <img ng-src="{{ picture.url}}" 
                                 class="img-carousel" 
                                 alt={{picture.caption}}>
                            <div class="carousel-caption">
                                <div class="col-md-4 col-md-offset-4 picture-caption">
                                    {{picture.caption}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </div>
</div>
