<nav class="navbar navbar-default">

    <div class="navbar-header">

        <button type="button" 
                class="collapsed navbar-toggle" 
                data-toggle="collapse"
                data-target="#navbar-collapser"
                aria-expanded="false"> 
            <span class="sr-only"></span>
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
        </button>
        <a href="#" class="navbar-brand">Holidays</a> 
    </div>
    <div class="collapse navbar-collapse" 
         id="navbar-collapser"> 
        <ul class="nav navbar-nav"> 
            <li><a data-toggle="collapse" 
                   data-target=".navbar-collapse" 
                   ng-href="#!/hotels">
                    <i class="glyphicon glyphicon-bed"></i>
                    Hospedaje
                </a>
            </li>                        
            <li class="dropdown">
                <a  
                    class="dropdown-toggle" 
                    data-toggle="dropdown" 
                    role="button" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    <i class="glyphicon glyphicon-road"></i>
                    Itinerario
                </a>
                <ul class="dropdown-menu">
                    <li><a ng-href="#!/day/1">D&iacute;a 1 - Mi&eacute;rcoles 7</a></li>
                    <li><a ng-href="#!/day/2">D&iacute;a 2 - Jueves 8</a></li>
                    <li><a ng-href="#!/day/3">D&iacute;a 3 - Viernes 9</a></li>
                    <li><a ng-href="#!/day/4">D&iacute;a 4 - S&aacute;bado 10</a></li>
                    <li><a ng-href="#!/day/5">D&iacute;a 5 - Domingo 11</a></li>
                    <li><a ng-href="#!/day/6">D&iacute;a 6 - Lunes 12</a></li>
                    <li><a ng-href="#!/day/7">D&iacute;a 7 - Martes 13</a></li>
                    <li><a ng-href="#!/day/8">D&iacute;a 8 - Mi&eacute;rcoles 14</a></li>
                    <li><a ng-href="#!/day/9">D&iacute;a 9 - Jueves 15</a></li>
                    <li><a ng-href="#!/day/10">D&iacute;a 10 - Viernes 16</a></li>
                    <li><a ng-href="#!/day/11">D&iacute;a 11 - S&aacute;bado 17</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a  
                    class="dropdown-toggle" 
                    data-toggle="dropdown" 
                    role="button" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    <i class="glyphicon glyphicon-cutlery"></i>
                    Comida
                </a>
                <ul class="dropdown-menu">
                    <li><a ng-href="#!/restaurants/mendoza">Mendoza</a></li>
                    <li><a ng-href="#!/restaurants/riocuarto">Rio Cuarto</a></li>
                    <li><a ng-href="#!/restaurants/sanluis">San Luis</a></li>
                    <li><a ng-href="#!/restaurants/sanrafael">San Rafael</a></li>
                </ul>
            </li>
        </ul> 
    </div> 
</nav>