<div class="container" ng-controller="RestaurantsCtrl">

    <div class="panel panel-default">
        <div class="panel-heading main-title">
            Donde comer ? {{city}}
        </div>
    </div>  

    <div ng-repeat="restaurant in restaurantsInCity">

        <div class="panel panel-default">

            <div class="panel-body">

                <div class="row city">
                    <div class="col-md-12">
                        {{restaurant.name}}
                    </div>
                </div>

                <div class="row description-one">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div>{{restaurant.location}} </div>
                    </div>                    
                </div>
                
                <div class="check-in-out-time">

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            Abierto: {{restaurant.days}}
                        </div>
                        <div class="col-md-6 space-between-times">
                            {{restaurant.opentime}} 
                            &gt;
                            {{restaurant.closetime}}
                        </div>
                    </div>

                    <div class="row">                  
                        <div class="col-md-1"></div>
                        <div class="col-md-5">Precio: {{restaurant.price}}</div>
                        <div class="col-md-6">{{restaurant.payby}}</div>
                    </div>

                    <div class="row">                  
                        <div class="col-md-1"></div>
                        <div class="col-md-11">Mejores platos: {{restaurant.bestdishes}}</div>
                    </div>

                    <div class="row">                  
                        <div class="col-md-1"></div>
                        <div class="col-md-11">Nota: {{restaurant.note}}</div>
                    </div>
                </div>

                <div class="row carousel-wrap">
                    <div id="myCarousel{{restaurant.id}}" 
                         class="carousel slide" 
                         data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li ng-repeat="picture in restaurant.pictures" 
                                data-target="#myCarousel{{restaurant.id}}" 
                                data-slide-to="{{$index}}" 
                                ng-class="{active:picture.active}">
                            </li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item" 
                                 ng-class="{active:picture.active}" 
                                 ng-repeat="picture in restaurant.pictures">
                                <img ng-src="{{ picture.url}}" 
                                     class="img-carousel" 
                                     alt={{picture.caption}}>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>    
        </div>
    </div>  
</div>

